body{
	margin: 0px;
	padding: 0px;
	}
div{
	padding: 10px;
	line-height: 25px;
	display: block;
}
#white{
	padding-top: 0px; ;
	margin-left: 1px;
}
#green{
	background-color: #C8FC98; 
	width: 200px; 
	padding-top: 0px; 
	margin-right: 5px;
	float: left;
}
#footer{
	background-color: black;
	clear: both;
	padding: 0px;
}
p
{
	text-align: center;
	margin: 0px;
}
a
{ 
	color: yellow;
}